* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #2d2d2d;
}
:root {
  --bg-dark: #2d2d2d;
  --text-light: #fafafa;
  --accent: #ed6335;
  --accent-blue: #35bfed;
}
body {
  color: var(--text-light);
  background: var(--bg-dark);
  background-image: url("/pattern.png");
  background-size: cover;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  position: relative;
  min-height: 100vh;
}

@media screen and (max-width: 480px) {
  p {
    font-size: 18px;
    line-height: calc(18px * 1.5);
  }
}

